@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/dm-sans";

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #080808; 
  color: #fefefe; 
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #03624c #080808;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #080808;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #03624c;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #06302b;
}
